
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: Inter, sans-serif;
	background-image: url('../imagens/fundo.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


.card-login {
	background-color: #ffffff;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: auto;
	max-width: 400px;
	text-align: center;
}


.logo-card {
    background: linear-gradient(135deg, #C67097 8%, #583470 64%); 
    padding: 10px;
    border-radius: 20px;
	display: inline-block;
    margin-bottom: 40px; 
}

.logo-card img {
    width: 100%; 
    max-width: 350px; 
    display: block; 
    margin: 0 auto; 
}


.card-login h3 {
	font-size: 15px;
	color: #000000;
	margin-bottom: 20px;
	text-align: left;	
}


input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 8px;
	margin: 15px 0;
	border: none;
	background-color: #F797AB;
	color: #333;
	border-radius: 10px;
	font-size: 13px;
}

input::placeholder {
	color: #ffffff;
	opacity: 1;
}


.remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.remember {
	display: flex;
	align-items: center;
	color: #583470;
gap: 4px;	
}

.forgot-password {
	color: #583470;
	text-decoration: none;
}

.forgot-password:hover {
	text-decoration: underline;
}


button {
	width: 100%;
	padding: 5px;
	background-color: #834D87;
	color: #ffffff;
	border: none;
	border-radius: none;
	font-size: 15px;
	cursor: pointer;
}

button:hover {
	background-color: #5C3672;
}


.create-account {
	margin-top: 40px;
	font-size: 15px;
}

.create-account a {
	color: #696772;
	text-decoration: none;
}

.create-account a:hover {
	text-decoration: underline;
}